
  <header class="hero-image">
    <div>
        <p style="font-size: 35px;">Bienvenido al</p>
        <h1>Hotel Suave Lomito</h1>
        <br>
        <p>¡El mejor lugar donde tus mascotas se podrán hospedar!</p>
        <p>Horas de diversión garantizadas con nosotros , ademas de una </p> <p>gran atención y 
          cuidado para asegurar su bienestar.</p> <p>¿Qué esperas? ¡Reserva ya!
        </p>
    </div>
  </header>
  <div class="card">
    <div class="nosotros">
        <h1>-¿QUIENES SOMOS?-</h1>
        <div class="descripcionNos">
          <p>Somos una empresa 100% responsable y comprometida con el cuidado de tus mascotas,
              ubicada en Tuxtla Gutiérrez, Chiapas con 10 años de experiencia y un enorme amor a los lomitos.
              Nos encargamos de brindar la mejor estadia para nuestros peludos huespédes siempre mostrando
              valores y etica con nuestros clientes.
          </p>
        </div>
    </div>
    <div class="imgNos">
        <img src="../../assets/img/Us1.jpg" class="Us1">
        <img src="../../assets/img/Us2.jpg" class="Us2">
        <img src="../../assets/img/Us3.jpg" class="Us3">
    </div>
  </div>
  <div class="bedrooms">
      <div class="economica">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/img/dalmat-inn.jpg" class="d-block ">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/dalmata2.jpg" class="d-block ">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/dalmata3.jpg" class="d-block ">
              </div>
            </div>
            <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
          <div class="infoEcono">
                  <h3>Habitación Económica Dalmata-Inn</h3>
                  <p>Habitación económica que cuenta con todos los servicios básicos, climatizada,
                      alimentos esenciales, con espacio para libre movimiento y atencion por 
                      personal del hotel además de música relajante. Incluye un paseo diario.   
                  </p>
                  <h4>Precio: $100.00 por hora</h4>
          </div>
      </div>
  </div>